* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #fafafa;
	height: 3000px;
}
li {
	list-style: none; /*  取消li 的小点 */
}



.header {
	height: 100px;
	background-color: #fff;   /*导航条主体*/
}

.inner {             /*被head主体包住的盒子inner，inner又包含两个分别左浮动，右浮动的小盒子*/
	width: 1200px;
	height: 100px;
	/*background-color: pink; */
	margin: 0 auto;
	line-height: 100px;   /*让li标签里的文字水平垂直居中*/
}

.logo {
	float: left;
}

.nav {
	float: right;
}

.nav li {
	float: left;     /*让li标签从垂直分布变为水平分布*/
	margin: 0 20px;  /*li标签里的文字有空隙*/
}

.nav li a {
	color: #333;
	text-decoration: none;   /*必须指定a标签才能去掉下划线*/
}

/*以上导航栏完毕*/

/* banner STAR */
.banner {
	height: 620px;
	background: url(../images/banner.png) no-repeat top center;
}
/* banner end */

/*以下三盒子想法失败*/

/*
.service {
	width: 1055px;
	height: 660px;
	background-color: pink;
	margin: 75px auto 0;
}
.ser-hd-left {
	width: 423px;
	height: 64px;
	background-color: red;
}
.ser-hd-right {
	width: 423px;
	height: 64px;
	background-color: green;
}
.ser-hd-mid {
	width: 150px;
	height: 64px;
	background-color: blue;
	margin-top: px;
}

.ser-hd-left,
.ser-hd-right,
.ser-hd-mid {
	display: inline-block;
}*/



